/* Navbar Styling */
.navbar {
  background-color: #343a40;
}

.navbar .nav-link {
  color: #ffffff !important;
  transition: none; /* Disable color change on hover */
}

.navbar .dropdown-menu {
  background-color: #343a40;
}

.navbar .dropdown-item {
  color: #ffffff;
}

.navbar .dropdown-item:hover {
  background-color: #495057; /* Subtle background on hover */
}
