/* Sidebar styles */
#wrapper {
    display: flex;
}

#sidebar-wrapper {
    min-width: 250px;
    margin-left: -250px;
    transition: all 0.3s;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

/* Centered content */
.container-fluid.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Responsive iframe */
.video.responsive {
    width: 100%;
    height: 500px;
    border: none;
}

/* Ad-blocking */
iframe[width="728"][height="90"], iframe[width="300"][height="250"], 
.adsbygoogle, #ad, [class*="ad-"] {
    display: none !important;
}
