/* Global styles */
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.bg-custom {
    background-color: #000;
    z-index: 1000; /* Ensure navbar appears above content */
}

.navbar {
    background-color: #000;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #fff !important;
}

.nav-link {
    font-size: 1.2rem;
    color: #fff !important;
}

/* Footer styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: #000;
    color: #fff;
}



@media (max-width: 768px) {
    /* Ensure navbar toggle button is visible */
    .navbar-toggler-icon {
        color: #fff; /* Set hamburger menu icon color to white */
    }

    /* Navbar toggler */
    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.1);
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    /* Adjust Elfsight widget for mobile */
    .elfsight-app-8b463d5f-36c8-4aa0-8a43-07ade9162085 {
        background-image: url('https://i.postimg.cc/QN2yC3fh/image.png');
        background-size: cover;
        background-position: center;
    }
}
