/* Global styles */
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.bg-custom {
    background-color: #000;
    z-index: 1000; /* Ensure navbar appears above slideshow */
}

.navbar {
    background-color: #000;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #fff !important;
}

.nav-link {
    font-size: 1.2rem;
    color: #fff !important;
}

/* Footer styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: #000;
    color: #fff;
}

/* Slideshow styles */
@media (min-width: 769px) { /* Hide slideshow on screens wider than 768px */
    .slideshow-container {
        display: none;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    /* Navbar */
    .navbar-toggler-icon {
        color: #fff; /* Set hamburger menu icon color to white */
    }

    /* Image */
    .mySlides {
        background-image: url('https://i.postimg.cc/QN2yC3fh/image.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
    }
}
