/* Gear Icon */
.settings {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.gear-icon {
  font-size: 24px;
  cursor: pointer;
}

/* Popup Modal */
.settings-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.popup-content {
  text-align: center;
}

body.dark-theme .settings-popup {
  background-color: #141414;
  color: #e5e5e5;
}
