/* Base Styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

.theme-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

body.light-theme .theme-toggle {
  background-color: #000000;
  color: #ffffff;
}

body.light-theme .content {
  background-color: #f8f9fa;
  color: #000000;
}

body.dark-theme {
  background-color: #141414;
  color: #ffffff;
}

body.dark-theme .theme-toggle {
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme .content {
  background-color: #212529;
  color: #ffffff;
}

h1.display-4 {
  white-space: nowrap; /* Keep title on one line */
}

.content {
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s, color 0.5s;
}