body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 30px;
}

.video-player {
    border-radius: 10px;
    overflow: hidden;
}

.video-player video {
    width: 100%;
    height: auto;
}

.channel-list {
    overflow-y: auto;
    max-height: 70vh;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
}

.channel-item {
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.channel-item:hover {
    background-color: #333;
}

.channel-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.epg {
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
